body { 
	background-color: black; 
	color: white; 
	font-family: "Source Sans Pro", "Arial", "Helvetica", sans-serif;
  font-size: 1.1em;
  margin: 3em 3em 3em 3em;
}

h1 {
  text-align: center;
  font-size: 1.5em;
}

h2 {
  font-size: 1.2em;
}

h3 {
  font-size: 1.1em;
}

A {
  color: orange;
}

A.title {
  color: white;
  text-decoration: underline dashed;
}

p {
  margin-bottom: 9pt;
}

li {
  margin-bottom: 9pt;
}